---
title: Cornell Tech AOL Connected Experiences
---

<div class="row">
  <nav class="navbar navbar-default top-nav-area col-md-12">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#aol-nav-collapse" aria-expanded="false">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="navbar-brand" href="">
          <%= image_tag "test_image.png" %>
        </a>
        <h2 class="collapse navbar-collapse">Cornell Tech AOL Connected Experiences</h2>
      </div>

      <div class="collapse navbar-collapse pull-right" id="aol-nav-collapse">
        <ul class="nav navbar-nav">
          <li class="">
            <a href="" class="nav-area-right">Projects/Publications</a>
          </li>
          <li>
            <a href="" class="nav-area-right">About Us</a>
          </li>
          <li>
            <a href="" class="nav-area-right">In the News</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="content-area row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 content-bottom">
      <p>
      The Connected Experiences Laboratory studies and builds technologies at the forefront of the digital ecosystem – including analytical techniques that fuse diverse personal data streams into actionable insights; content personalization that works across delivery platforms; connectivity tools that deepen and sustain engagement within families and communities; and new interfaces to interact with these systems and applications. The Connected Experiences Laboratory will innovate the way we live.
      </p>

    </div>
  </div>
</div>

<div id="projects-content">
  <div >
    <span class="divide-bar"></span>
    <center><%= image_tag "circle_arrow.png" %></center>
    <center><h3>Projects/Publications</h3></center>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-1 col-xs-offset-2 projects-img">
      <h4>Title</h4>
      <%= image_tag "test_image.png" %>

    </div>

    <div class="col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-1 col-xs-offset-2 projects-img">
       <h4>Title</h4>
      <%= image_tag "test_image.png" %>

    </div>
  </div
  <div class="row">
    <div class="col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-1 col-xs-offset-2 projects-img">
      <h4>Title</h4>
      <%= image_tag "test_image.png" %>

    </div>

    <div class="col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-1 col-xs-offset-2 projects-img">
      <h4>Title</h4>
      <%= image_tag "test_image.png" %>
    </div>

  </div>

</div>

<div>
  <div>
    <center><%= image_tag "circle_arrow.png" %></center>
    <center><h3>About Us</h3></center>
  </div>

  <div class="row">
    <div class="col-md-5 about-us-img pull-right">
      <%= image_tag "test_image.png" %>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <p>
      A first collaboration of its kind for Cornell Tech and AOL, the AOL gift allows researchers at Cornell Tech and at the Technion in Israel to address a varied set of areas including communication and coordination, food and wellness,education and safety, information and entertainment. The research will catalyze the use of data to make choices about behaviors, content and products, enhance and support our connections to the people closest to us, and help create ties that empower and build local communities. The AOL gift will support a multinational laboratory for Connected Experiences, or ConnX, over four years. A fellowship program will support graduate students at each locale, and help the research activities of faculty in each location, 50% of them female. Diversity will be top of mind for every tech organization, academic or otherwise. We are designing new technologies that would be used by a population that is 50% female. It is only appropriate that the research team reflects that ratio.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-1 about-us-img pull-left">
      <%= image_tag "test_image.png" %>
    </div>

    <div class="col-md-6">
      <p>
      The breadth of the support will allow researchers at Cornell Tech and The Technion to pursue research in diverse topics, including human computer interaction, computer vision, machine learning, natural language processing, and social computing across multiple disciplines: computer science, management science, electrical engineering, information science and more. The Cornell Tech lab will also include full-time engineers and designers, in addition to faculty, PhD students and postdocs. To build meaningful technologies and improve the likelihood of impact, we need people in-house that can design and build systems, moving early research prototypes into the real world. This is a highly unusual and unique approach, and one that will have tremendous and quickly-realized impacts on the industry at large.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>Who We Are</h3>
      <p>The collaboration brings together in a four year partnership two institutions that are central to the NYC tech scene, AOL as a pioneering media technology company headquartered in NYC and Cornell Tech as the new flagship university campus for digital technologies. Moreover, building on the international reach and span of both organizations, the collaboration will extend to the Technion, with part of the gift supporting activities there in coordination with AOL Israel.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-sm-3 col-xs-6 who-we-are-img">
          <%= image_tag "test_image.png" %>
          <p>Shiri Azenkot, Cornell Tech</p>

          <%= image_tag "test_image.png" %>
          <p>Serge Belongie, Cornell Tech</p>
        </div>

        <div class="col-sm-3 col-xs-6 who-we-are-img">
          <%= image_tag "test_image.png" %>
          <p>Deborah Estrin, Cornell Tech</p>

           <%= image_tag "test_image.png" %>
          <p>Mor Naaman, Cornell Tech</p>
        </div>

        <div class="col-sm-3 col-xs-6 who-we-are-img">
          <%= image_tag "test_image.png" %>
          <p>Anar Rafaeli, Technion</p>

          <%= image_tag "test_image.png" %>
          <p>Nir Ailon, Technion</p>
        </div>

        <div class="col-sm-3 col-xs-6 who-we-are-img">
          <%= image_tag "test_image.png" %>
          <p>Lihi Zelnik, Technion</p>

          <%= image_tag "test_image.png" %>
          <p>Roi Reichart, Technion</p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <center><h3>In the News</h3></center>
    <ul class="no-style-li">
      <li><a href="">Headline link</a></li>
      <li><a href="">Headline link</a></li>
      <li><a href="">Headline link</a></li>
      <li><a href="">Headline link</a></li>
    </ul>
  </div>
</div>

<div class="bottom-area row">
  <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-1">
    <div class="row">
      <div class="col-sm-3 col-xs-5 bottom-area-img">
        <%= image_tag "test_image.png" %>
      </div>

      <div class="col-sm-3 col-xs-5 bottom-area-img">
        <%= image_tag "test_image.png" %>
      </div>

      <div class="col-sm-3 col-xs-5 bottom-area-img">
        <%= image_tag "test_image.png" %>
      </div>

      <div class="col-md-3 col-xs-5 bottom-area-img">
        <%= image_tag "test_image.png" %>
      </div>
    </div>
  </div>

  <div class="col-md-5 col-sm-6 col-xs-6">
    <div class="row">
      <div class="col-sm-5 col-xs-8 bottom-area-map">
        <%= image_tag "test_image.png" %>
      </div>

      <div class="col-sm-4 col-xs-4">
        <p>111 8th Avenue Suite 302 New York, NY 10011</p>
        <p>cs@cornell.edu</p>
      </div>
    </div>
  </div>

</div>
